:root{
--cor-fundo:#550000;
--cor-principal:#c23725;
--cor-secundaria:#d43c00;
--cor-texto:#ffddcd;
--cor-destaque:#b80000;
}

body{

background-color: var(--cor-fundo);
color:var(--cor-texto);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}